.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.overview {
    /* flex-grow: 2; */
}

.content {
    max-width: 60%;
}
    /* flex-grow: 3; */

.contentFlexContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.content{
    flex: 1 1 50%;
    text-align: justify;
}

.normFlexContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.norm{
    flex: 1 1 40%;
}

.highlight {
    /* flex-grow: 2; */
}