.imageContainer {
    position: relative;
    text-align: center;
    /* filter: brightness(50%); */
}

.centered {
    color: white;
    font-size: 500%;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.overview {
    /* flex-grow: 2; */
}

.contentContainer {
    max-width: 60%;
    margin: 10%;
}
    /* flex-grow: 3; */

.contentFlexContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.content{
    margin: 2em;
    flex: 1 1 50%;
}

.content > p {
    text-align: justify;
    font-size: 120%;
}

.normFlexContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.norm{
    flex: 1 1 40%;
}

.entertainment{
    margin: 2em;
    align-items: center;
    flex: 1 1 40%;
}

.highlight {
    /* flex-grow: 2; */
}